In [2]:
import pandas as pd

In [7]:
data = pd.read_csv("C:/Users/sanoj/TRAINEE/automated-review-rating-system/data/kaggle/TMDb_Top_Rated_Movies.csv")

In [8]:
data.head(5)

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption ...,Imprisoned in the 1940s for the double murder ...,1994-09-23,173.624,8.705,26561
1,238,The Godfather ...,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,300.830,8.691,20161
2,240,The Godfather Part II ...,In the continuing saga of the Corleone crime f...,1974-12-20,101.450,8.575,12166
3,424,Schindler's List ...,The true story of how businessman Oskar Schind...,1993-12-15,120.252,8.565,15570
4,389,12 Angry Men ...,The defense and the prosecution have rested an...,1957-04-10,76.404,8.500,8417

In [9]:
#select 3 rows randomly
data.sample(3)

,id,title,overview,release_date,popularity,vote_average,vote_count
9262,289720,Outcast ...,A mysterious warrior teams up with the daughte...,2014-09-26,45.290,5.096,455
1244,71883,Redline ...,The most dangerous and exciting car race in th...,2010-05-27,14.594,7.512,430
4751,790142,The Royal Treatment ...,Isabella runs her own salon and isn’t afraid t...,2022-01-20,12.073,6.663,753

In [10]:
data.shape

(9544, 7)

In [11]:
#view columns name
data.columns

Index(['id      ',
       'title                                                                               ',
       'overview                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ',
       'release_date ', 'popularity ', 'vote_average ', 'vote_count'],
      dtype='object')

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9544 entries, 0 to 9543
Data columns (total 7 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     --------------  -----
 0   id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         9544 non-null   int64
 1   title                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      9544 non-null   object
 2   overview                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   9544 non-null   object
 3   release_date                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               9544 non-null   object
 4   popularity                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 9544 non-null   float64
 5   vote_average                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               9544 non-null   float64
 6   vote_count                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 9544 non-null   int64
dtypes: float64(2), int64(2), object(3)
memory usage: 522.1+ KB

In [13]:
data.describe()

           id         popularity   vote_average     vote_count
count  9.544000e+03   9544.000000    9544.000000   9544.000000
mean   1.913665e+05     40.933445       6.636021   1971.977263
std    2.537333e+05    251.652392       0.785268   3110.357325
min    2.000000e+00      0.033000       2.200000    300.000000
25%    1.008525e+04     18.363000       6.115750    466.000000
50%    3.691850e+04     26.251000       6.663000    841.000000
75%    3.472445e+05     40.447500       7.200000   1968.500000
max    1.212073e+06  22036.206000       8.705000  36075.000000

In [14]:
#check missing values
data.isnull().sum()

id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           0
title                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        0
overview                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     0
release_date                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 0
popularity                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   0
vote_average                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 0
vote_count                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   0
dtype: int64

In [15]:
data.duplicated().sum()

np.int64(1)

In [16]:
df=data.copy()

In [17]:
df.head(1)

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption ...,Imprisoned in the 1940s for the double murder ...,1994-09-23,173.624,8.705,26561

In [18]:
df.dtypes

id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             int64
title                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         object
overview                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      object
release_date                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  object
popularity                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   float64
vote_average                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 float64
vote_count                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     int64
dtype: object

In [19]:
#check null 
df.select_dtypes(include='object').isnull().sum()

title                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        0
overview                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     0
release_date                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 0
dtype: int64

In [20]:
duplicate= df[df.duplicated(keep=False)]

In [21]:
duplicate

,id,title,overview,release_date,popularity,vote_average,vote_count
3179,13666,The Wolf Man ...,"After his brother's death, Larry Talbot return...",1941-12-12,13.638,7.0,561
3180,13666,The Wolf Man ...,"After his brother's death, Larry Talbot return...",1941-12-12,13.638,7.0,561

In [22]:
df.drop_duplicates(inplace=True)

In [23]:
df.duplicated().sum()

np.int64(0)

In [24]:
df.columns

Index(['id      ',
       'title                                                                               ',
       'overview                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ',
       'release_date ', 'popularity ', 'vote_average ', 'vote_count'],
      dtype='object')

In [25]:
df.columns = df.columns.str.strip()

In [26]:
df.columns

Index(['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average',
       'vote_count'],
      dtype='object')

In [27]:
df['title']

0       The Shawshank Redemption                      ...
1       The Godfather                                 ...
2       The Godfather Part II                         ...
3       Schindler's List                              ...
4       12 Angry Men                                  ...
                              ...
9539    Alone in the Dark                             ...
9540    Disaster Movie                                ...
9541    House of the Dead                             ...
9542    Dragonball Evolution                          ...
9543    Birdemic: Shock and Terror                    ...
Name: title, Length: 9543, dtype: object

In [28]:
df.sort_values(by="popularity",ascending=True)[['title','popularity']]

                                                  title  popularity
57    Hotarubi no Mori e                            ...       0.033
18    Grave of the Fireflies                        ...       0.049
7776  G.B.F.                                        ...       0.424
8916  Serial Teachers                               ...       0.547
3600  Tracks                                        ...       0.637
...                                                 ...         ...
2442  Despicable Me 4                               ...    3557.455
907   Inside Out 2                                  ...    4015.219
857   Bad Boys: Ride or Die                         ...    5462.371
3203  A Quiet Place: Day One                        ...    6197.201
362   Deadpool & Wolverine                          ...   22036.206

[9543 rows x 2 columns]

In [29]:
df.sort_values(by="popularity",ascending=False)[['title','popularity']]

                                                  title  popularity
362   Deadpool & Wolverine                          ...   22036.206
3203  A Quiet Place: Day One                        ...    6197.201
857   Bad Boys: Ride or Die                         ...    5462.371
907   Inside Out 2                                  ...    4015.219
2442  Despicable Me 4                               ...    3557.455
...                                                 ...         ...
3600  Tracks                                        ...       0.637
8916  Serial Teachers                               ...       0.547
7776  G.B.F.                                        ...       0.424
18    Grave of the Fireflies                        ...       0.049
57    Hotarubi no Mori e                            ...       0.033

[9543 rows x 2 columns]

In [30]:
df[['title','vote_count']]

                                                  title  vote_count
0     The Shawshank Redemption                      ...       26561
1     The Godfather                                 ...       20161
2     The Godfather Part II                         ...       12166
3     Schindler's List                              ...       15570
4     12 Angry Men                                  ...        8417
...                                                 ...         ...
9539  Alone in the Dark                             ...         592
9540  Disaster Movie                                ...        1007
9541  House of the Dead                             ...         375
9542  Dragonball Evolution                          ...        2003
9543  Birdemic: Shock and Terror                    ...         326

[9543 rows x 2 columns]

In [33]:
df[(df['release_date'] > '01-01-1998') & (df['release_date'] < '01-01-2005')]['title'].shape[0]

0

In [31]:
df[df['release_date'] > '01-01-2023'].shape[0]

9543

In [32]:
df[df['release_date'] > '01-01-2000']['title']

0       The Shawshank Redemption                      ...
1       The Godfather                                 ...
2       The Godfather Part II                         ...
3       Schindler's List                              ...
4       12 Angry Men                                  ...
                              ...
9539    Alone in the Dark                             ...
9540    Disaster Movie                                ...
9541    House of the Dead                             ...
9542    Dragonball Evolution                          ...
9543    Birdemic: Shock and Terror                    ...
Name: title, Length: 9543, dtype: object

In [52]:
df[df['vote_count'] > 1000].shape[0]

4198